<!DOCTYPE html>
<html>
<head>
<title>{% block title %} {% endblock %}Mood</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
<style>
    .button {
        font: bold 11px Arial;
        text-decoration: none;
        background-color: #EEEEEE;
        color: #333333;
        padding: 2px 6px 2px 6px;
        border-top: 1px solid #CCCCCC;
        border-right: 1px solid #333333;
        border-bottom: 1px solid #333333;
        border-left: 1px solid #CCCCCC;
      }
</style>
</head>

<body>
<nav>
    <h1>Emoji Mood</h1>
    <ul>
            <li><a href= "{{ url_for('new') }}">New Emoji Mood</a></li>
            <li><a href= "{{ url_for('history') }}">history</a></li>

    </ul>
</nav>
<section class="content">
    <header>
        <h1>Today I'm:</h1>
        <h1>{{ mood_emoji(posts['mood']) }}</h1>
        <h2>" {{ posts['body'] }} "</h2>
    </header>
<button >
<a href= "{{ url_for('gallery') }}" class="button">Gallery</a>
<a href= "{{ url_for('music') }}" class="button">Music</a>
<a href= "{{ url_for('history') }}" class="button">History</a>


</section>
</body>
</html>
