<!DOCTYPE html>
<html>
<head>
<title>{% block title %} {% endblock %}Mood</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<style>

</style>
</head>
<body>
<nav>
    <ul>
      <li><a href= "{{ url_for('new') }}">New Emoji Mood</a></li>
      <li><a href= "{{ url_for('graph') }}">Your Chart</a></li>
    </ul>
</nav>
  {% block main %}

  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Gallery</h1>
        <hr>
        <p>Your selection of pictures for {{ posts['mood'] }} and {{ posts['body'] }}!</p>
        {% for item in gallery_list %}
        <img src="{{item}}" alt="gallery">
        {% endfor %}
      </div>
    </div>
  </div>

  {% endblock %}


</body>
</html>
