
{% extends "base.html" %}
{% block body %}
{% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
{% endfor %}

<section class="content container">
    <header>
        <h2>Your Mood History</h2>
    </header>

    <table class="post">
        <tr >
            <th>Mood</th>
            <th>keyword</th>
            <th>Date</th>
        </tr>
        {% for post in posts %}
        <tr style="background-color: {{ mood_colour(post['mood']) }} ">
            <td>{{ post['mood'] }}</td>
            <td >{{ post['body'] }} </td>
            <td> {{ post['created'].strftime('%d-%m-%Y')  }}</td>
        </tr>
         {% endfor %}
    </table>
    <a href= "{{ url_for('graph') }}" class="button" > Your Chart</a>
    <a href= "{{ url_for('mcalendar') }}" class="button" > Mood Calendar</a>
    {% block content %}{% endblock %}

</section>

{% endblock %}