<!doctype html>
<html>
  <head>
    <title>How are you feeling?</title>
  </head>
  <body>
    <ul>
          <li><a href= "{{ url_for('index') }}">All your Moods</a></li>   
    </ul>
    <div id="contact-form">
        <form action="/new" method="post" >
            <label for="mood">How are you feeling?</label>
            <select name="mood">
                    <option value="in_love">😍</option>
                    <option value="happy">😃</option>
                    <option value="sad">😥</option>
            </select>
            <br>
            <label for="body">Keywords describe that made you feel the mood: </label>
            <textarea name="body" id="body"></textarea>
            <input type="submit" value="Save" id="submit-button">
        </form>
    </div>
  </body>
</html> 