<!doctype html>
<title>{% block title %} {% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css')}}">
<html>
  <head>
    <title>How are you feeling?</title>
  </head>
  <body>
    <ul>
          <li><a href= "{{ url_for('index') }}">All your Moods</a></li>
          <li><a href= "{{ url_for('graph') }}">Your Chart</a></li>
    </ul>
    <div id="contact-form">
        <form action="/" method="post" >
            <label for="mood">How are you feeling?</label>
            <select name="mood">
                    <option value="love">😍</option>
                    <option value="happy">😃</option>
                    <option value="sad">😥</option>
            </select>
            <br>
            <label for="body">Keywords that best describe your mood: </label>
            <textarea name="body" id="body"></textarea>
            <input type="submit" value="Save" id="submit-button">
        </form>
    </div>
  </body>
</html>
