body{
  /* background-color: navajowhite;
  background-color: #ffba00;
  background-image: linear-gradient(to bottom, navajowhite, firebrick); */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-top: 70px;
}
.nav{
  background-color: white;
  font-size: 17px;
}

.nav a{
  color: black;
}
.btn h1{
  font-size: 80px;
}

#buttons label{
  font-size: 75px;
  margin-left: 35px;
  margin-right: 35px;
}

h1{
  font-weight: normal;
  font-size: 50px;
}

p {
    font-weight: normal;
    font-size: 20px;
}

#gallery img{
max-height:250px;
max-width: 250px;
height:100%;
margin:10px;
box-sizing: border-box;
border: 3px solid #9e602f;
}

#gallery a{
margin-left: auto;
}

header{
  margin-top: 10%;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  border-top: 1px solid black;
  font-size: 15px;
  white-space: pre;
}

th, td {
  padding: 8px;
}
th {
  text-align: left;

}
/* .button {
      font: bold 20px Arial;
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      color: #000000;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
} */
.button_container {
  margin-top: 40px;
}
#graph{
  padding-top: 70px;
}

#history{
  padding-top: 70px;
}

.graph_container{
  padding: 5px;
  height: 100vh;
}
.graph {
  width: 20%;
  /* margin-top: 53px; */
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

.graph_links{
  margin-bottom: 20px;
}

.center-text {
  text-align: center;
  font-size: 20px;
}

.table_months {
  background-color:  #999999;
  border: 1px solid black !important;
  text-align: center;
  font-size: 17px;
}
.table_labels {
  border: 1px solid black !important;
  text-align: center;
  padding: 2px;
  width: 12.5% !important;
  font-size: 17px;
} 

.parallax {
 /* Set a specific height */
  height: 100vh; 
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#canvas{
 margin: 40px 0;
}
#graph_table{
  margin: 30px 0;
}
h2{
  margin-top: 0;
}

.table.post{
  width:70%;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 40px;
}
.table_history{
  font-size: 17px;
}

.a-links{
  margin-bottom: 40px;
}