body{
  animation: colorchange 5s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 5s; /* Chrome and Safari */
  animation-iteration-count: infinite;
 margin: 0;
 padding: 0;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 background-color: 	#D2691E;
 height: 100%;
 margin: 0;

}

@keyframes colorchange
{
  0%   {background: red;}
  5%   {background: pink;}
  15%  {background: beige;}
  20%  {background: brown;}
  25%  {background: yellow;}
  30%  {background: silver;}
  40%  {background: grey;}
  50%  {background: blue;}
  75%  {background: green;}
  80%  {background: orange;}
  100% {background: red;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: red;}
  5%   {background: pink;}
  15%  {background: beige;}
  20%  {background: brown;}
  25%  {background: yellow;}
  30%  {background: silver;}
  40%  {background: grey;}
  50%  {background: blue;}
  75%  {background: green;}
  80%  {background: orange;}
  100% {background: red;}
}


.container {
  width: 1200px;
  margin: 0 auto;
}




.btn h1{
  font-size: 80px;
}

#buttons label{
  font-size: 75px;
  margin-left: 35px;
  margin-right: 35px;
}



h1{
  font-weight: normal;
  font-size: 50px;
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}

p{
    font-weight: normal;
    font-size: 20px;
}

#gallery img{
max-height:250px;
max-width: 250px;
height:100%;
margin:10px;
box-sizing: border-box;
border: 3px solid #9e602f;
}

#gallery a{
margin-left: auto;
}

header {
  height: 35px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;

}

table {
  width: 50%;
  margin: 0 auto;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
th {
text-align: left;

}
.button {
      font: bold 20px Arial;
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      color: #000000;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
}
.button_container {
  margin-top: 40px;

}

.graph {
  width: 25%;
  margin-top: 53px;
  margin: 0 auto;
  margin-top: 50px;
}
