
{% extends "base.html" %}
{% block body %}



<section class="content">
    <header>
        <h1>Today I'm:</h1>
        <h1>{{ mood_emoji(posts['mood']) }}</h1>
        <h2>"{{ posts['body'] }}"</h2>

    <div class="button_container">
        <a href= "{{ url_for('gallery') }}" class="btn btn-default" role="button">
            Gallery
        </a>
        <a href= "{{ url_for('music') }}" class="btn btn-default" role="button">
            Music
        </a>
        <a href= "{{ url_for('mcalendar') }}" class="btn btn-default" role="button">
            Calendar
        </a>
        <br>
        <br>
        <br>
           <a href="https://twitter.com/intent/tweet?text=Today%20I&#39m%20{{ mood_emoji(posts['mood']) }}%20{{ posts['body']}}" class="twitter-share-button" data-size="large">
          Tweet
          </a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
       
    </div>
    </header>


</section>
{% endblock %}
