
{% extends "base.html" %}
{% block body %}



<section class="content">
    <header>
        <h1>Today I'm:</h1>
        <h1>{{ mood_emoji(posts['mood']) }}</h1>
        <h2>"{{ posts['body'] }}"</h2>

    <div class="button_container">
        <a href= "{{ url_for('gallery') }}" class="btn btn-default" role="button">
            Gallery
        </a>
        <a href= "{{ url_for('music') }}" class="btn btn-default" role="button">
            Music
        </a>
        <a href= "{{ url_for('mcalendar') }}" class="btn btn-default" role="button">
            Calendar
        </a>
    </div>
    </header>


</section>
{% endblock %}
