<!doctype html>
<html lang="en">
<title>{% block title %} {% endblock %} MoodsAPP</title>

<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
 <!-- import plugin script -->
<script src='static/Chart.min.js'></script>

<script src="https://www.chartjs.org/dist/2.7.1/Chart.bundle.js"></script>
<script src="https://www.chartjs.org/samples/latest/utils.js"></script>
<head>
  <title>How are you feeling?</title>
</head>
<body>

  <ul class="nav nav-tabs">
      <li class="nav-item">
          <a class="nav-link"  href= "{{ url_for('new') }}">New Mood</a>
      </li>
       <li class="nav-item">
          <a class="nav-link"  href= "{{ url_for('gallery') }}">Mood Gallery</a>
      </li>
      <li class="nav-item">
          <a class="nav-link"  href= "{{ url_for('music') }}">Mood Music</a>
      </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">All your Moods</a>
          <div class="dropdown-menu">
            <ul>
              <li>
                <a class="dropdown-item" href= "{{ url_for('mcalendar') }}" > Mood Calendar</a>
              </li>
               <li>
                <a class="dropdown-item" href= "{{ url_for('history') }}">History</a>
              </li>
              <li>
                <a class="dropdown-item" href= "{{ url_for('graph') }}">Your Chart</a>
              </li>
            </ul>
          </div>
      </li>
  </ul>
{% block body %}{% endblock %}
    <!-- <script src="/static/scripts.js" charset="utf-8"></script> ?? -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  
  </body>
</html>
