{% extends "base.html" %}
{% block body %}

<div class="main_container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Send a message:</p>
  </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name">
        <label for="county">County</label>
        <select id="county" name="county">
          <option value="london">London</option>
          <option value="bedfordshire">Bedfordshire</option>
          <option value="cambridgeshire">Cambridgeshire</option>
          <option value="staffordshire">Staffordshire</option>
          <option value="manchester">Manchester</option>
          <option value="liverpool">Liverpool</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Type here" style="height:200px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>

{% endblock %}
