{% extends "base.html" %}
{% block body %}
<div class="responsive">
<div class="container" style="width:75%;">
        <canvas id="canvas"></canvas>
</div>
</div>


<div class="responsive" >
<table class="graph">
	<tr>
		{% for item in mood_labels %}
			<th style="background-color: {{ mood_colour(item) }}">{{ item }} </th>
		{% endfor %}
	</tr>
  <tr>
    {% for items in count_mood %}
      <th>{{ average(items, total) }}% </th>
    {% endfor %}
  </tr>
</table>
<div class="button_container">
		<a href= "{{ url_for('mcalendar') }}" class="btn btn-default" role="button" > Calendar</a>
    <a href= "{{ url_for('history') }}" class="btn btn-default" role="button" > History</a>
</div>
</div>
    
<script>
    var config = {
    		type: 'doughnut',
    		data: {
    			datasets: [{
    					data: [
                			{% for item in count_mood %}
                				"{{item}}"  ,
                			{% endfor %}
    						],

    					backgroundColor: [
									'#efa123', //enthusiastic
									"#ba2112", //furious
									'#eada2c', //happy
    							'#f52394', //love
									'#1093b7', //nerd
									'#567477', //sad
   								"#39894f" , //tired
   								"#965ec4", //worried
   								
								
    						// window.chartColors.orange,
    						//window.chartColors.red,
    						// window.chartColors.green,
    						//window.chartColors.blue,
    						],
    					label: 'Dataset 1'
    					}],

    			labels: [
                         {% for item in mood_labels %}
                            "{{item}}"  ,
                         {% endfor %}
						]},

    			options: {
    				responsive: true,
    				legend: {
              display:true,
    					position: 'top',
						labels:{
							fontSize: 18,
							boxWidth: 20,
						}
    				},

    				title: {
    					display: true,
    					text: 'Mood Chart',
						fontSize: 30,
						padding: 20,
    				},
    				animation: {
    					animateScale: true,
    					animateRotate: true,
    				}
    			}
    		};

    		window.onload = function() {
    			var ctx = document.getElementById('canvas').getContext('2d');
    			window.myDoughnut = new Chart(ctx, config);
    		};

</script>

{% endblock %}
