body{
  /* background-color: navajowhite;
  background-color: #ffba00;
  background-image: linear-gradient(to bottom, navajowhite, firebrick); */
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


.btn h1{
  font-size: 80px;
}

#buttons label{
  font-size: 75px;
  margin-left: 35px;
  margin-right: 35px;
}



h1{
  font-weight: normal;
  font-size: 50px;
}

p{
    font-weight: normal;
    font-size: 20px;
}

#gallery img{
max-height:250px;
max-width: 250px;
height:100%;
margin:10px;
box-sizing: border-box;
border: 3px solid #9e602f;
}

#gallery a{
margin-left: auto;
}
header{
  margin-top: 10%;
  text-align: center;
}
table {
  width: 50%;
  margin: 0 auto;
}
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
th {
text-align: left;

}
.button {
      font: bold 20px Arial;
      text-decoration: none;
      background-color: rgb(255, 255, 255);
      color: #000000;
      padding: 2px 6px 2px 6px;
      border-top: 1px solid #CCCCCC;
      border-right: 1px solid #333333;
      border-bottom: 1px solid #333333;
      border-left: 1px solid #CCCCCC;
}
.button_container {
  margin-top: 40px;

}

.graph {
  width: 25%;
  margin-top: 53px;
  margin: 0 auto;
  margin-top: 50px;
}